/*---- phần đáy trang ---- */

.footerConten p {
  font-size: 18px;
  font-weight: bold; /* Làm chữ đậm để nổi bật */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer {
  width: 100%;
  margin: auto;
}
.pageFooter p {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
