/* ---- phần class đầu ---- */

/* vỏ ngoài bao bọc phần đầu */
.top {
  display: flex; /* xếp cùng một hàng */
  /*căn giữa*/
  justify-content: space-evenly;
  align-items: center;
}
/* logo đầu trang */
.logo img {
  width: 150px;
}
/* tìm kiếm */
.search {
  position: relative; /* cần có để icon nằm trong khung */
  width: 500px;
  background-color: rgb(185, 185, 185);
  border-radius: 20px; /*bo góc*/
  padding: 3px 5px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease; /* hiệu úng hover mượt */
}
/* hover đổi màu nền */
.search:hover {
  background: #cfcfcf;
}
/* ô input */
.search input {
  flex: 1; /* chiếm toàn bộ chiều rộng còn lại */
  height: 30px;
  border: none;
  background: transparent; /* dùng nền của .search */
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-left: 35px; /* chừa chỗ cho icon */
  outline: none; /*xóa viền thanh search*/
  border-radius: 20px;
}
/* placeholder */
.search input::placeholder {
  color: #494949;
  opacity: 1;
}

/* icon kính lúp */
.search i {
  position: absolute; /*icon nằm cố định trong thanh tìm kiếm*/
  left: 15px;
  top: 50%;
  transform: translateY(-50%); /* căn giữa icon theo chiều dọc*/
  color: #5a5a5a;
  font-size: 16px;
  pointer-events: none; /*click và không bị icon chặn*/
}

/* đăng nhập */
.button button {
  font-size: 16px;
  margin-left: 10px;
  padding: 9px 10px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.562);
  color: rgba(255, 255, 255, 0.979);
  cursor: pointer; /*con trỏ chuột*/
}
.button button:hover {
  background: rgba(255, 120, 120, 0.664);
}

/* hộp dăng ký   */
.overlay {
  position: fixed; /*bao phủ toàn màn hình*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none; /*ẩn mặc định */
  z-index: 5; /*nằm dưới modal nhưng trên các phần khác*/
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /*tạo kung đổ bóng*/
  display: none;
  z-index: 10; /*nằm trên overlay */
}
/* nút */
.btn-group {
  text-align: center;
  margin-top: 10px;
}
.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn.primary {
  background: #ff6600;
  color: white;
}
.btn.cancel {
  background: #3498db;
  color: white;
  margin-left: 10px;
}
/* Tiêu đề */
.modal h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input */
.modal input[type="email"],
.modal input[type="password"],
.modal input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
