/* ---- class thanh nội dung ---- */

/* thanh nội dung */
.noidung {
  background: rgba(110, 110, 110, 0.637);
  color: white;
  padding: 5px 10px; /* tạo không gian cho nội dung */
}
/* thanh menu */
.menu {
  display: flex;
  gap: 10%; /*tạo khoảng cách các phần tử*/
  align-items: center;
  font-size: 20px;
  justify-content: center;
}
/* gắn trực tiếp vào phần link của thanh menu */
.menu a {
  text-decoration: none;
  transition: 0.3s; /*thời gian chuyển đổi*/
  font-weight: 600; /* Làm chữ đậm hơn */
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 10px;
}
/* sửa ảnh */
.menu img {
  width: 40px; /*kích thước*/
}
/* thay đổi khi di chuột vào */
#Theodoi:hover {
  content: url(../../img/Theodoi.png); /*hình ảnh*/
  display: inline-block; /*đổi loại display*/
  width: 120px; /*kích thước*/
}
.menu a:hover {
  color: rgb(255, 58, 107);
  background: #646464;
}
